body {
	padding: 1rem;
	background-color: rgb(13, 13, 54);
	color: white;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.25rem;
}

.btn {
	background-color: transparent;
	border: 1px solid rgb(203 213 225);
	color: rgb(203 213 225);
	padding-block: 0.5rem;
	padding-inline: 0.25rem;
	border-radius: 0.5rem;
	outline: none;
}

.btn:hover {
	background-color: rgb(51 65 85);
}

.btn:focus-within {
	background-color: rgb(51 65 85);
}

ul {
	padding-left: 0.25rem;
	list-style: none;
}

.todoListItem {
	display: flex;
	gap: 1px;
	align-items: center;
}

.todoLabel {
	cursor: pointer;
}

form {
	display: flex;
	gap: 2;
	flex-direction: column;
}

.newInput {
	color: rgb(203 213 225);
	border-color: rgb(203 213 225);
	background-color: transparent;
	border-radius: 0.25rem;
	padding-inline: 0.5rem;
	padding-block: 0.25rem;
	outline: none;
}

.newInput:focus {
	border-color: rgb(241 245 249);
}

form > div {
	display: flex;
	gap: 0.25rem;
	justify-content: right;
}
